.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(227, 209, 189);
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-title {
    font-size: 3rem;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .motion-button {
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .motion-button:hover {
    background-color: #218838;
  }
  
  .hero-image img {
    max-width: 100%;
    height:fit-content;
  }
  